.container_small-card{
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.container_small-card .small-card__picture > img {
  width: 200px;
  margin-right: 20px;
}

.container_small-card .small-card__title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_small-card .container__small-card-separator {
  margin-top: 10px;
}
